@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&family=Overpass:ital,wght@0,200;0,700;1,300;1,400&display=swap');
:root {
--VeryDarkBlue: hsl(235, 21%, 11%);
--VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
--LighzGrayishBlue: hsl(234, 39%, 85%);
--LightGrayishBlue: hsl(236, 33%, 92%);
--DarkGrayishBlue: hsl(234, 11%, 52%);
--VeryDarkGrayishBlue: hsl(233, 14%, 35%);
--VeryDarkGrayishBlue2: hsl(237, 14%, 26%);
--BrightBlue: hsl(220, 98%, 61%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--VeryDarkBlue);
    color: white;
}

.banner img {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
}

main {
    max-width: 540px;
    margin: 0 auto;
}

.container {
    position: relative;
    margin: 6rem 20px 0px 20px;   
}

.title  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.title h1 {
    font-size: 50px;
    letter-spacing: 20px;
}

.tasks-input {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: var(--VeryDarkDesaturatedBlue);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}

#add {
    margin-right: 10px;
    width: 1.4em;
    height: 1.3em;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid hsl(236,9%,61%);
    border-radius: 50%;
}

#text {
    background-color: var(--VeryDarkDesaturatedBlue);
    border: 0;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: var(--DarkGrayishBlue);
}

#text::placeholder {
    color: var(--DarkGrayishBlue);
}

#res {
    border-radius: 5px;
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--LighzGrayishBlue);
    
}

.tasks-res {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid var(--VeryDarkGrayishBlue);
}   

.content {
    max-width: 500px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid hsl(236,9%,61%);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.checkbox-round:checked {
    background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.checkbox-round:checked:before {
    content: url('../images/icon-check.svg');
}


#theme  {
    background-image: url("../images/icon-moon.svg");
    width: 26px;
    height: 26px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.button-cross{
    background-image: url("../images/icon-cross.svg");
    background-color: var(--VeryDarkDesaturatedBlue);
    border: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.content-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--DarkGrayishBlue);
    border-radius: 5px;
}

.content-info button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: inherit;
    font-size: 0.8rem;
    font-weight: 700;
}

.content-info button:hover {
    color: white;
}

#button-info button:focus {
    color: var(--BrightBlue);
}

/*Class*/

.no-task {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid var(--VeryDarkGrayishBlue);
}

input[type=checkbox]:checked ~ .tasks-span {
    text-decoration: line-through
  }