@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&family=Overpass:ital,wght@0,200;0,700;1,300;1,400&display=swap');
:root {
    --VeryDarkBlue: #161722;
    --VeryDarkDesaturatedBlue: #25273c;
    --LighzGrayishBlue: #cacde8;
    --LightGrayishBlue: #e4e5f1;
    --DarkGrayishBlue: #777a92;
    --VeryDarkGrayishBlue: #4d5066;
    --VeryDarkGrayishBlue2: #393a4c;
    --BrightBlue: #3a7bfd;
    --LightPurple: #6557cb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--VeryDarkBlue);
    color: var(--LighzGrayishBlue);
}

header {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--LightGrayishBlue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    padding: 0;
    font-size: 40px;
    letter-spacing: 15px;
    font-weight: 700;
    
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

.banner-container {
    background-color: var(--LightPurple);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1rem;
}

.banner-img img {
    width: 100%;
    max-width: 800px;
}

.banner-texto {
    max-width: 500px;
    margin: 50px 0 0 0;
}

.banner-texto h1 {
    font-size: 4rem;
    color: var(--LightGrayishBlue);
}

.banner-texto p {
    line-height: 26px;
}

.banner-button {
    margin: 2rem 0;
}

.banner-button a {
    text-decoration: none;
    color: var(--LightGrayishBlue);
    border: 2px solid var(--LightGrayishBlue);
    padding: 10px;
    transition: 0.3s;
}

.banner-button a:hover {
    background-color: var(--LightGrayishBlue);
    color: var(--LightPurple);
}

main {
    margin: 104px 126px;
}

.main-text {
    border-top: 2px solid var(--VeryDarkGrayishBlue);
    padding: 2rem;
}

.main-text h1 {
    margin-bottom: 1rem;
}

.main-container-card {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 3rem;
}


.main-content-card h3 {
    color: var(--LightGrayishBlue);
}

.card {
    background-color: var(--VeryDarkDesaturatedBlue);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 100%;
    max-width: 24px;
}

footer {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--LightGrayishBlue);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.main-container-card-sobre {
    display: flex;
    gap: 2rem;
}

.main-content-card-sobre {
    background-color: var(--VeryDarkDesaturatedBlue);
    height: 360px;
    padding: 40px;
    border-radius: 6px;
}

.main-content-card-sobre img {
    width: 100%;
    max-width: 100px;
    margin-bottom: 2rem;
}

.main-container-tutorial {
    border-top: 3px solid var(--VeryDarkGrayishBlue);
    margin: 2rem 1rem;
    padding: 20px;
}

.main-img-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-img-tutorial img {
    width: 100%;
    max-width: 600px;
}

.main-icon-tutorial img {
    width: 100%;
    max-width: 24px;
}

.contato-form {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato-form form {
    width: 500px;
}

.contato-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--LightGrayishBlue);
}

.contato-form input,
.contato-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: var(--VeryDarkDesaturatedBlue);
    border: 0;
    color: var(--LighzGrayishBlue);
    outline: none;
}

.contato-form input::placeholder, textarea::placeholder {
    color: var(--DarkGrayishBlue);
}

.contato-form button {
    background-color: var(--BrightBlue);
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: var(--VeryDarkBlue); 
}

.contato-form button:hover {
    background-color: transparent;
    color: var(--LighzGrayishBlue);
}

.main-contato-img-container img {
    width: 100%;
    max-width: 500px;
}